html{
    min-height: 100%;
    background-color: black;

}
body{
    background-color: black;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}


svg{

    /*box-shadow: 0px 3px 15px rgba(0,0,0,0.2); */
    /*border-radius: 5px; */
    padding: 10px;
    border-radius: 5px;
}
/*by using hashtag before the css object you're referencing the the name of the svg object*/
#canvas-map{
    min-width: 1000px;
    min-height: 600px
}
#county-map{
    min-width: 1000px;
    min-height: 600px
}
#map-tooltip{
    visibility: hidden;
    position: absolute;
    font-family: Helvetica;
    background: white;
    border: 2px solid black;
    left: 100px;
    padding: 5px;
    border-radius: 5px;
}
#county-tooltip{
    visibility: hidden;
    position: absolute;
    font-family: Helvetica;
    background: white;
    border: 2px solid black;
    left: 100px;
    padding: 5px;
    border-radius: 5px;
}

#legend{
    color: white;
    font-size: 18px;
    text-align: center;
    min-height: 150px;
    max-width: 180px;
    margin-top: 40px;
    margin-bottom: 40px;
}


#title{
    font-size: 28px;
    color: white;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 30px;
}

#description {
    text-decoration: none;
    color: white;
    font-family: Helvetica;
    text-align: center;
}

#container{
    display: flex;
    align-items: center;
    width: 100%;
}
#county-container{
    display: flex;
    align-items: center;
    width: 100%;
}

#rightSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}
h1{
    font-family: "Times New Roman";
    color: white;
    font-size: 100px;
    line-height: 70px;
}

h3{
    font-family: "Times New Roman";
    align-content: center;
    color: white;
    font-size: 40px;
    line-height: 70px;
}

h5{
    font-family: "Times New Roman";
    font-weight: lighter;
    color: white;
    font-size: 20px;
}

h6{
    color: white;
    font-family: Helvetica;
    font-weight: lighter;
    padding-top: 12px;
    font-size: 12px;
    border-top: 0.1px solid white;
}


.label {
    font-family: Helvetica;
    font-weight:normal ;
    color: white;
    fill: white;
    font-size: 12px;
}

.tooltip_text_desc_min {
    font-family: Helvetica;
    font-weight:normal ;
    color: white;
    fill: rgba(255, 255, 255, 0.5);
    font-weight: lighter;
    font-size: 12px;
}

.tooltip_text_desc_max{
    font-family: Helvetica;
    font-weight:normal ;
    color: white;
    fill: rgba(255, 255, 255, 0.5);
    font-weight: lighter;
    font-size: 12px;
}

.tooltip_text{
    font-family: "Times New Roman";
    font-weight: lighter;
    color: white;
    font-size: 40px;
    fill: white;
}

.tooltip_chart_text{
    font-family: Helvetica;
    font-weight:normal ;
    color: white;
    fill: rgba(255, 255, 255, 0.75);
    font-weight: lighter;
    font-size: 12px;
}
.text-legend{
    font-family: Helvetica;
    font-weight:normal ;
    font-size: 12px;
}
.title{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;

}

button{
    color: rgba(255, 255, 255, 0.8);
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button4 {background-color: #e7e7e7; color: black;} /* Gray */

.container{
    font-family: Helvetica;
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-size: 12px;
    alignment: center;
    position: relative;
}

.no-gutters {
    /*margin-right: 0px;*/
    /*margin-left: 0px;*/
}

.placeholder{
    background-color: grey;
}

.highlighted-text{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.small-text{
    margin-top: -20px;
    font-size: 15px;
    text-align: center;
}
#dendo{
    width: 100%; height:100%
}
#sankey{
    width: 100%; height:100%
}
.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 5px;
    right: 20px;
    bottom: 0;
    left: 20px;
    height: 30px;
    width: 30px;
    transition: all 0.15s ease-out 0s;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: center;
    z-index: 1000;
}
.option-input:hover {
    background: rgba(255, 255, 255, 0.3);
}
.option-input:checked {
    background: rgba(255, 255, 255, 0.8);
}
.option-input:checked::before {
    height: 20px;
    width: 20px;
    position: absolute;
    /*content: "\f111";*/
    /*font-family: "Font Awesome 5 Free";*/
    display: inline-block;
    /*font-size: 10px;*/
    text-align: center;
    line-height: 40px;
}
.option-input:checked::after {
    -webkit-animation: click-wave 0.25s;
    -moz-animation: click-wave 0.25s;
    animation: click-wave 0.25s;
    background: rgba(255, 255, 255, 0.8);
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
.option-input.radio {
    border-radius: 80%;
}
.option-input.radio::after {
    border-radius: 80%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    text-align: center;
}

h1 {
    font-weight: 100;
    margin-top: 50px;
    color: white;
}

h2 {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 40px;
    color: white;
}

.container-fluid {
    padding-right: 30px;
    padding-left: 30px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    color: white;
}

.browser text {
    text-anchor: end;
}

.area {
    opacity: 0.7;
    clip-path: url(#clip);
}
.area:hover {
    opacity: 1;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.col-md-8 offset-2{
    margin-top: 5vh;
}
#header-content{
    height: 15vh;
}

#content-area-graph{
    height: 60vh;
}

#stacked-area-chart{
    width: 100%;
    height: 100%;
}

#timeline{
    width: 100%;
    height: 100%;
}

.row justify-content-center{
    height: 15vh;
}

/*.content-timeline{*/
/*  height: 15vh;*/
/*}*/
#res-stacked-tooltip{
    visibility: hidden
;
    position: absolute
;
}
.tooltip-text{
    font-size: 10px;
    color: white;
}

.x-axis, .y-axis{
    color:white;
}

.heading-text{
    color: lightgrey;
    font-size: 18px;
    margin-bottom: -25px;
}